.App{
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 20px;
}
.App h1{
    margin-bottom: 30px;
}



.container{
    display: flex;
    flex-direction: column;
    padding: 4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    align-items: center;
    background-color: #fff;
    width: 50rem;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}